extends ../templates/template
block head
    link(rel="stylesheet" href="css/styles.css")
    title FACIUNI
block menu
    include ../includes/main-menu
block main
    .home 
        .home-container 
            img(src="/images/home/Bg-que_es_F.png" alt="Estrella").home-img
            .home-titles 
                h1.home-title FACIUNI 
                h2.home-subtitle Festival Académico de
                    br
                    |  Cine Universitario Internacional
            .home-paragraph 
                p.home-paragraph__title FACIUNI es un programa que reconoce la labor y el talento de cineastas y estudiantes de cine latinoamericanos con el fin de impulsar el desarrollo de nuevos talentos y realizadores.
                p.home-paragraph__title Transcurre en 9 países, donde se presentan cortometrajes realizados por estudiantes, charlas presenciales y vía streaming de reconocidos directores de cine, y mucho más.
                p.home-paragraph__title Presentado por DIRECTV, cuenta con la colaboración de poderosos aliados que ayudan a impulsar y establecer un compromiso con la industria cinematográfica.

