-const pages = [{title:'BECAS',link:'becas'},{title:'FESTIVAL DE CINE',link:'festival-de-cine'},{title:'PELÍCULAS',link:'peliculas'},{title:'A Ti y A Ti',link:'a-ti-y-a-ti'},{title:'MASTER CLASS',link:'master-class'}]
-const cards=[{title:"Agentina",subtitle:"Fluir",img:"/images/cards/argentina.png",director:"Director Cristhian Orta"},{title:"Brasil",subtitle:"Se o Mundo Girasse ao Contrário",img:"/images/cards/brasil.png",director:"Director: Lorem Ipsum"},{title:"Se o Mundo Girasse ao Contrário",img:"/images/cards/seomundo.png",description:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip."}]
-let pageActive
